* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}
body {
  background-color: #333;
}

.page-container {
  width: 81vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* --------------------- spinner ----------------------- */
.page-loader {
  background: transparent;
  position: absolute;
  top: 10vh;
  left: 35%;
  height: 20%;
  width: 30%;
}

.spinner {
  margin-top: 50vh;
  margin-left: auto;
  margin-right: auto;
  border: blanchedalmond 5px solid;
  border-top: orangered 5px solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation-name: goaround;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.message {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: orangered;
}

@keyframes goaround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* --------------------- Search bar----------------------- */
.search-bar {
  display: flex;
  height: 10vh;
  width: 30vw;
}

#dropdown {
  height: 40%;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 5px;
  color: orangered;
  font-weight: bold;
}

#search-field {
  height: 40%;
  font-size: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 5px;
}
/* -----------------Title Table ------------------------*/
.title-area {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.titles-row {
  text-align: left;
  width: 100%;
  color: orangered;
  padding-bottom: 10px;
}

.title {
  width: 9vw;
}

/* ----------------- Table ---------------------------- */
.table-area {
  width: 100%;
}

.students-table {
  width: 100%;
  color: #ccc;
}

td {
  padding: 5px;
  padding-top: 10px;
  width: 9vw;
}

/* ----------------- input fields ---------------------- */
input {
  width: 100%;
}

.edit-inputs {
  font-size: 20px;
}

/* ----------------- buttons ---------------------------- */
button {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 25%;
}

.edit-button {
  background: url("../img/edit-color.png") no-repeat center center/cover;
}
.del-button {
  background: url("../img/delete-red.png") no-repeat center center/cover;
}
.cancel-button {
  background: url("../img/cancel-red.png") no-repeat center center/cover;
}
.ok-button {
  background: url("../img/ok-green.png") no-repeat center center/cover;
}
