* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

body {
  background-color: #333;
}
.page-container {
  width: 75vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.search-bar {
  display: flex;
  height: 10vh;
  width: 30vw;
}

#dropdown {
  height: 40%;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 5px;
  color: orangered;
  font-weight: bold;
}

#search-field {
  height: 40%;
  font-size: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 5px;
}
.table-area {
  width: 100%;
}

table {
  width: 100%;
  color: #ccc;
}

th {
  text-align: left;
  width: 200px;
  padding: 5px;
  color: orangered;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
td {
  padding: 5px;
  padding-top: 10px;
  width: 200px;
}

#id-title {
  text-align: center;
}
.student-ids {
  text-align: center;
}

input {
  width: 100%;
}

button {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
}

.edit-button {
  background: url("../img/edit-color.png") no-repeat center center/cover;
  /* background-color: white; */
}
.del-button {
  background: url("../img/delete-red.png") no-repeat center center/cover;
  /* background-color: white; */
}
.cancel-button {
  background: url("../img/cancel-red.png") no-repeat center center/cover;
  /* background-color: white; */
}
.ok-button {
  background: url("../img/ok-green.png") no-repeat center center/cover;
  /* background-color: white; */
}

/* .numbers-long {
  width: 7%;


.first-last {
  width: 10%;
} */
